<h1>{{name}}</h1>
<ul>
    <li>Автор: {{author}}</li>
    <li>Жанр: {{genre_s}}</li>
    <li>Цена: {{price}}</li>
    <li>Количество страниц: {{pages_i}}</li>
    <li>В продаже: {{inStock}}</li>
</ul>
