<h1>{{title}}</h1>
{{#each user_list}}
    <ul style="list-style: none">
        <li>Имя: {{name}}</li>
        <li>Email: {{email}}</li>
        <li>Телефон: {{mobile}}</li>
        <li>Город: {{city}}</li>
    </ul>
    <hr>
{{/each}}

